{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/js/param.js"></script>
<script type="text/javascript" src="/js/cluster.js"></script>
{% endblock %}

{% block content %}
<a href="/">Home</a>

<h3>{{pid}} - {{smarts}}</h3>

<form action="/cluster/{{pid}}">
  <label for="eps">Epsilon</label>
  <input type="number" id="eps" name="eps" value="{{eps}}"
		 max="1.0" min="0.0" step="0.01"><br><br>
  <label for="min_pts">Min points:</label>
  <input type="number" id="min_pts" name="min_pts"
		 value="{{min_pts}}"><br><br>
  <input type="submit" value="Cluster">
</form>

<p>
{{nfps}} molecules, {{max}} clusters, {{noise}} noise points, pruned {{max + 1 -
clusters.len()}} empty clusters after {{"{:.1}"|format(time)}} seconds
</p>

{% for (i, c) in clusters.iter().enumerate() %}
	<h1>Cluster {{i + 1}}, {{c.len()}} molecules</h1>
	{% let idx = c[0].clone() %}
	{% let mol = mols.index(idx.clone()) %}
	<span pid="{{pid}}" natoms="{{mol.num_atoms()}}" smiles="{{mol.to_smiles()}}">
	  {{self.make_svg(mol)|safe}}
	</span>
	{% let smallest = crate::serve::handlers::find_smallest(mols, c) %}
	{% if smallest != 0 %}
		{% let small_idx = c[smallest].clone() %}
		{% let small_mol = mols.index(small_idx.clone()) %}
		<span pid="{{pid}}" natoms="{{small_mol.num_atoms()}}" smiles="{{small_mol.to_smiles()}}">
		{{self.make_svg(small_mol)|safe}}
		</span>
	{% endif %}
{% endfor %}

<dialog onclick="event.target==this && this.close()" id="modal-box">
  <div id="modal-box-content"> </div>
  <form method="dialog" onsubmit="addToDataset()">
	<button>Add to dataset</button>
  </form>
</dialog>

{% endblock %}
