{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<p>Molecules in dataset: {{ds_size}}</p>
<form action="/reset-dataset">
  <button>Reset dataset</button>
</form>

<form action="/export-dataset">
  <input type="text" id="filename" name="filename"
		 value="dataset.smi"><br><br>
  <button>Export dataset</button>
</form>

<table>
  <tr>
	<th>Parameter</th>
	<th>Molecules</th>
  </tr>
  {% for (i, pid) in parameter_ids.iter().enumerate() %}
  <tr>
	<td><a href="param/{{pid}}">{{pid}}</a></td>
	<td>{{molecule_counts[i]}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
