{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="/js/param.js"></script>

<a href="/">Home</a>

<h3>{{pid}} - {{smarts}}</h3>

{% match body %}
	{% when Body::SmilesList with {total_mols, mols} %}
		<p>Showing {{mols.len()}}/{{total_mols}} molecules</p>
		{% for (i, m) in mols.iter().enumerate() %}
		<span natoms="{{m.natoms}}" smiles="{{m.smiles}}">{{m.svg|safe}}</span>
		{% endfor %}
		{% if mols.len().lt(total_mols) %}
			<form action="/param/{{pid}}">
			<button name="max" value="{{total_mols}}">Load all</button>
			</form>
		{% endif %}
		<dialog onclick="event.target==this && this.close()" id="modal-box"></dialog>
	{% when Body::Report with (s) %}
		{{s|safe}}
{% endmatch %}
{% endblock %}
