{% extends "base.html" %}

{% block content %}
<a href="/">Home</a>

<h1>{{pid}}</h1>
<p>SMIRKS: {{smarts}}</p>

{% match body %}
	{% when Body::SmilesList with {total_mols, mols} %}
		<h2>Showing {{mols.len()}}/{{total_mols}} molecules</h2>
		{% for (i, m) in mols.iter().enumerate() %}
		<h3>Molecule {{i+1}}</h3>
		<p>{{m.natoms}} atoms</p>
		<p>SMILES: {{m.smiles}}</p>
		<p>{{m.svg|safe}}</p>
		{% endfor %}
		{% if mols.len().lt(total_mols) %}
			<form action="/param/{{pid}}">
			<button name="max" value="{{total_mols}}">Load all</button>
			</form>
		{% endif %}
	{% when Body::Report with (s) %}
		{{s|safe}}
{% endmatch %}
{% endblock %}
